{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [erl_xls]}
]}.

{erl_first_files, [
    "src/xls_parse.erl",
    "src/xls_type.erl",
    "src/xls_pattern_lower.erl",
    "src/xls_callback_lower.erl",
    "src/xls_statem_lower.erl",
    "src/xls_pack.erl"
]}.
