{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [erl_hls]}
]}.

{erl_first_files, [
    "src/backend/xls/xls_parse.erl",
    "src/api/hls_type.erl",
    "src/backend/xls/xls_pattern_lower.erl",
    "src/backend/xls/xls_callback_lower.erl",
    "src/backend/xls/xls_statem_lower.erl",
    "src/api/hls_pack.erl"
]}.
